/* src/App.css */

.app {
  text-align: center;
  padding: 20px;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 0 20px;
}

.user-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
  width: 100%;
}

.user-card:hover {
  transform: translateY(-5px);
}

.user-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.user-card h3,
.user-card p {
  margin: 10px;
  text-align: left;
}

.user-details {
  max-width: 800px; /* Ajusta el máximo ancho a dispositivos grandes */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-details img {
  width: 100%;
  height: auto; /* Ajuste responsivo para mantener la proporción de la imagen */
  max-height: 400px; /* Limitar altura máxima para imágenes grandes */
  object-fit: cover;
  margin-bottom: 20px;
}

.user-details h2,
.user-details p {
  margin: 10px 0;
  text-align: left;
}

.search-bar {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%; /* Asegura que la barra de búsqueda se ajuste al ancho del contenedor */
  max-width: 300px; /* Limita el ancho máximo para pantallas grandes */
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
}

.search-bar:focus {
  border-color: #007bff;
}

/* Ajustes responsivos para diferentes tamaños de pantalla */
@media (max-width: 1200px) {
  .user-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .user-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .user-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .user-details {
    padding: 15px; /* Reduce el padding en pantallas más pequeñas */
  }
}

@media (max-width: 400px) {
  .user-cards {
    grid-template-columns: 1fr;
  }

  .user-details {
    padding: 10px; /* Más reducción para pantallas pequeñas */
  }

  .search-bar {
    width: 100%; /* Asegura que la barra de búsqueda use todo el ancho disponible */
  }
}
